@model LoginViewModel

<table>
    <tr>
        <td><img src="~/images/login1.jpg" alt="Fazer o Login" class="center-block" /></td>
        <td>
            <div class="row loginForm">
                <div class="col-md-12">
                    <h4 class="text-center">Informe Email e Senha</h4>
                    <form asp-controller="Account" asp-action="Login" method="post" class="form-horizontal" role="form">
                        <hr />
                        <input type="hidden" asp-for="ReturnUrl" />
                        <div class="form-group">
                            <label asp-for="UserEmail" class="col-md-2 control-label"></label>
                            <div class="col-md-12">
                                <input asp-for="UserEmail" class="form-control" />
                                <span asp-validation-for="UserEmail" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label asp-for="Password" class="col-md-2 control-label"></label>
                            <div class="col-md-12">
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group formPullRightButton">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" class="btn" style="Background: black; color:gold; width: 350px" value="Entrar na Charcutaria"/>
                            </div>
                            <div>
                                <a class="nav-link" asp-controller="Account" asp-action="Register" style="color:blue">&nbsp;Ainda não tenho registro&nbsp; </a>
                            </div>
                        </div>
                        <div class="col-md-12 text-danger">
                            @Html.ValidationMessage("usuario.invalido")
                        </div>
                    </form>
                </div>
            </div>
        </td>
    </tr>
</table>
