<!DOCTYPE html>

<html>
<head>
    <style>
        /*body {
            background-color: #8c7853;
        }*/

        img, h3 {
            margin-left: 300px;
        }
    </style>
</head>

<body>

    <h3 class="text-white">Qualidade no Processo de Maturação</h3>

    <div class="img-fluid">
        <img src="~/images/Apresentacao.jpg" class="d-block w-25" alt="Apresentacao">
    </div>

</body>
</html>
