@model Cliente

<h3>Complete seu Pedido</h3>

<form asp-action="Checkout" method="post" class="form-horizontal" role="form">
    <div class="form-group">
        <label asp-for="Nome" class="col-md-4 control-label"></label>
        <div class="col-md-5">
            <input asp-for="Nome" class="form-control" />
            <span asp-validation-for="Nome" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Sobrenome" class="col-md-4 control-label"></label>
        <div class="col-md-5">
            <input asp-for="Sobrenome" class="form-control" />
            <span asp-validation-for="Sobrenome" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Endereco" class="col-md-4 control-label"></label>
        <div class="col-md-5">
            <input asp-for="Endereco" class="form-control" />
            <span asp-validation-for="Endereco" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Complemento" class="col-md-4 control-label"></label>
        <div class="col-md-5">
            <input asp-for="Complemento" class="form-control" />
            <span asp-validation-for="Complemento" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Cep" class="col-md-4 control-label"></label>
        <div class="col-md-5">
            <input asp-for="Cep" class="form-control" />
            <span asp-validation-for="Cep" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Cidade" class="col-md-4 control-label"></label>
        <div class="col-md-5">
            <input asp-for="Cidade" class="form-control" value="Lins" />
            <span asp-validation-for="Cidade" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="UF" class="col-md-4 control-label"></label>
        <div class="col-md-5">
            <input asp-for="UF" class="form-control" value="São Paulo" />
            <span asp-validation-for="UF" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Fone1" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="Fone1" class="form-control" />
            <span asp-validation-for="Fone1" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Fone2" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="Fone2" class="form-control" />
            <span asp-validation-for="Fone2" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="col-md-4 control-label"></label>
        <div class="col-md-5">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="btn-group col-md-5">
            <input class="btn btn-success" type="submit" value="Concluir" />
        </div>
    </div>
</form>