@model Cliente

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>

<h3 class="text-center">Informações do Pedido</h3>

<br />

<div class="text-center text-danger">
    @Html.ValidationMessage("pedido.vazio")
</div>

<form asp-action="Checkout" method="post" class="form-text" role="form">

    <div class="form-group">
        <div class="row">
            <div class="col-md-4 mb-3">
                <label asp-for="Nome"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="col-md-8 mb-3">
                <label asp-for="Sobrenome"></label>
                <input asp-for="Sobrenome" class="form-control" />
                <span asp-validation-for="Sobrenome" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 mb-3">
                <label asp-for="Endereco"></label>
                <input asp-for="Endereco" class="form-control" />
                <span asp-validation-for="Endereco" class="text-danger"></span>
            </div>
            <div class="col-md-6 mb-3">
                <label asp-for="Complemento"></label>
                <input asp-for="Complemento" class="form-control" />
                <span asp-validation-for="Complemento" class="text-danger"></span>
            </div>
            <div class="col-md-2 mb-3">
                <label asp-for="NroEndereco"></label>
                <input asp-for="NroEndereco" class="form-control" />
                <span asp-validation-for="NroEndereco" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 mb-3">
                <label asp-for="Cep"></label>
                <input asp-for="Cep" class="form-control" />
                <span asp-validation-for="Cep" class="text-danger"></span>
            </div>
            <div class="col-md-6 mb-3">
                <label asp-for="Cidade"></label>
                <input asp-for="Cidade" class="form-control" />
                <span asp-validation-for="Cidade" class="text-danger"></span>
            </div>
            <div class="col-md-2 mb-3">
                <label asp-for="UF"></label>
                <input asp-for="UF" class="form-control" style="text-transform:uppercase"/>
                <span asp-validation-for="UF" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 mb-3">
                <label asp-for="Email"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">@Html.DisplayName("@")</span>
                    </div>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

            </div>
            <div class="col-md-4 mb-3">
                <label asp-for="Fone1"></label>
                <input asp-for="Fone1" class="form-control" id="fone1" name="fone1" placeholder="(99) 99999999" />
                <script type="text/javascript">
                    $("#fone1").mask("(00) 0000-0000");
                </script>
                <span asp-validation-for="Fone1" class="text-danger"></span>
            </div>
            <div class="col-md-4 mb-3">
                <label asp-for="Fone2"></label>
                <input asp-for="Fone2" class="form-control" id="fone2" placeholder="(99) 999999999" />
                <script type="text/javascript">
                    $("#fone2").mask("(00) 00000-0000");
                </script>
                <span asp-validation-for="Fone2" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <a class="btn btn-success" asp-controller="Pedido" asp-action="RetornarInicio">Voltar à Loja</a>
                <input class="btn btn-danger" type="submit" value="Concluir" />
            </div>
        </div>

    </div>
    
</form>