<li class="btn-group">
 
    <button type="button" class="btn btn-secondary btn-sm">Produtos</button>
    <button type="button" class="btn btn-secondary btn-sm dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        
    </button>
    <ul class="dropdown-menu">
        @foreach (var categoria in Model)
        {
            <li>
                <a asp-controller="Produto" asp-action="ListaProduto" style="color:black; margin-left:8px"
                   asp-route-categoria="@categoria.NomeCategoria">@categoria.NomeCategoria</a>
            </li>
        }
        <li class="dropdown-divider"></li>
        <li>
            <a asp-controller="Produto" asp-action="ListaProduto" asp-route-categoria="" style="color:black; margin-left:8px">Todos os tipos</a>
        </li>
    </ul>
</li>
