<!DOCTYPE html>
<html>

    <head>
        <style>
            p {
                font: bold 54px times new roman;
            }
            h3 {
                font: bold 28px times new roman;
            }
        </style>
    </head>

    @model HomeViewModel

<body>

    <div class="text-center">        
        <p id="Saudacao">Grande Chacrutaria</p>
    </div>

    <br />

    @await Html.PartialAsync("_Carousel")

    <br />
    <br />

    <div>
        <h3>Produtos em Promoção</h3>
    </div>

    <br />

    <div class="row">
        @foreach (var produto in Model.ProdutosPreferidos)
        {
            <partial name="_ProdutosResumo" for="@produto" />
        }
    </div>

</body>

</html>