<!DOCTYPE html>
<html>

<head>
    <style>
        p {
            font: bold 54px times new roman;
        }

        h3 {
            font: bold 28px times new roman;
        }
    </style>
</head>

@model HomeViewModel

<body>

    <br />

    @await Html.PartialAsync("_Carousel")

    <br />
    <br />

    <div>
        <h3 class="text-center">Produtos em Destaque</h3>
    </div>

    <br />

    <div class="row">
        @foreach (var produto in Model.ProdutosPreferidos)
        {
            <partial name="_ProdutosResumo" for="@produto" />
        }
    </div>

</body>

</html>